<div xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- 01. preloder  -->
    <div class="preLoader" th:fragment="preloder">
        <div class="preloder-inner">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>


    <!-- 02.main header -->
    <header class="header" th:fragment="header">
        <div class="main-header-wraper main-header inner-page-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-3">
                        <div class="logo-container">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img class='default-logo' src="assets/img/logo.png" data-rjs="2" alt="ecommerce">
                                    <img class='sticky-logo' src="assets/img/logo2.png" data-rjs="2" alt="ecommerce">
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-7 col-xl-6">
                        <!-- menu container -->
                        <div class="menu-container">
                            <div class="menu-wraper">
                                <nav>
                                    <!-- Header-menu -->
                                    <div class="header-menu dosis">
                                        <div id="menu-button">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="about.html#">Home</a>
                                                <ul>
                                                    <li><a href="index.html">Home Version 01</a></li>
                                                    <li><a href="index-2.html">Home Version 02</a></li>
                                                    <li><a href="index-3.html">Home Version 03</a></li>
                                                    <li><a href="index-4.html">Home Version 04</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="about.html#">Shop</a>
                                                <ul>
                                                    <li>
                                                        <a href="about.html#">Shop Details</a>
                                                        <ul>
                                                            <li>
                                                                <a href="shop-details.html">Shop Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-details-withbar.html">Shop details with
                                                                    sidebar</a>
                                                            </li>
                                                            <li><a href="shop-details-download.html">Shop Details
                                                                Download</a></li>
                                                            <li><a href="shop-details-external.html">Shop Details
                                                                External</a></li>
                                                            <li><a href="shop-details-grouped.html">Shop Details
                                                                Grouped</a></li>
                                                            <li><a href="shop-details-onsale.html">Shop Details
                                                                onsale</a></li>
                                                            <li><a href="shop-details-outstck.html">Shop Details
                                                                Outstck</a></li>
                                                            <li><a href="shop-details-variable.html">Shop Details
                                                                Variable</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop-2col.html">Shop 2 Column</a></li>
                                                    <li><a href="shop-2col-withbar.html">Shop 2Col with sidebar</a></li>
                                                    <li><a href="shop-3col.html">Shop 3 Column</a></li>
                                                    <li><a href="shop-3col-withbar.html">Shop 3Col with sidebar</a></li>
                                                    <li><a href="shop-4col.html">Shop 4 Column</a></li>
                                                    <li><a href="shop-4col-withbar.html">Shop 4Col with sidebar</a></li>
                                                    <li><a href="shop-5col.html">Shop 5 Column</a></li>
                                                    <li><a href="shop-6col.html">Shop 6 Column</a></li>
                                                    <li><a href="shop-masonary.html">Shop Masonary</a></li>
                                                    <li><a href="shop-minimal.html">Shop minimal</a></li>
                                                    <li><a href="shop-carousel.html">Shop Carousel</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="about.html#">Catagories</a>
                                                <ul>
                                                    <li><a href="categories-page1.html">Categories 1</a></li>
                                                    <li><a href="categories-page2.html">Categories 2</a></li>
                                                    <li><a href="categories-page3.html">Categories 3</a></li>
                                                    <li><a href="categories-page4.html">Categories 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html#">collection</a>
                                                <ul>
                                                    <li><a href="collection-page1.html">Collection 1</a></li>
                                                    <li><a href="collection-page2.html">Collection 2</a></li>
                                                    <li><a href="collection-page3.html">Collection 3</a></li>
                                                    <li><a href="collection-page4.html">Collection 4</a></li>
                                                </ul>
                                            </li>
                                            <li class="active"><a href="about.html#">Pages</a>
                                                <ul>
                                                    <li class="active"><a href="about.html">About</a></li>
                                                    <li><a href="cart-list.html">Cart List</a></li>
                                                    <li><a href="checkout.html">Check Out</a></li>
                                                    <li><a href="wish-list.html">Wish List</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                    <li><a href="myaccount.html">My Account</a></li>
                                                    <li><a href="order-tracking.html">Order Tracking</a></li>
                                                    <li><a href="search-result.html">Search Results</a></li>
                                                    <li><a href="logout.html">Log Out</a></li>
                                                    <li><a href="about.html#">Coming Soon</a>
                                                        <ul>
                                                            <li><a href="comming-soon.html">Coming Soon 01</a></li>
                                                            <li><a href="comming-soon2.html">Coming Soon 02</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="about.html#">404 Page</a>
                                                        <ul>
                                                            <li><a href="error1.html">404 Page 1</a></li>
                                                            <li><a href="error2.html">404 Page 2</a></li>
                                                            <li><a href="error3.html">404 Page 3</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="about.html#">Blog</a>
                                                <ul>
                                                    <li><a href="blog-2clumn.html">Blog Layout</a></li>
                                                    <li><a href="blog-2clumn-withbar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="blog-pinterest.html">Blog Pinterest</a></li>
                                                    <li><a href="blog-pinterest-withbar.html">Blog Pinterest with
                                                        Sidebar</a></li>
                                                    <li><a href="blog-list.html">Blog list</a></li>
                                                    <li><a href="blog-list-withbar.html">Blog list with Sidebar</a></li>
                                                    <li><a href="blog-details-withbar.html">Blog Details With
                                                        Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <!-- End of Header-menu -->
                                </nav>
                            </div>
                        </div><!-- menu container -->
                    </div>

                    <div class="col-12 col-sm-12 col-md-3 top-order">
                        <!-- modal menu -->
                        <div class="modal-menu-container">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="search-btn" title="search">
                                        <a href="about.html#">
                                            <img src="assets/img/icons/search-button.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="cart-btn" title="Cart list">
                                        <a href="http://v.bootstrapmb.com/2019/5/uo7kk4866/login.html">
                                            <img src="assets/img/icons/add-bag.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="wishlist-btn-off" title="Wish list">
                                        <a href="about.html#">
                                            <img src="assets/img/icons/wishlist.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="account-btn" title="account list">
                                        <a href="about.html#">
                                            <img src="assets/img/icons/account.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu-btn" title="Category menu">
                                        <a href="about.html#">
                                            <img src="assets/img/icons/manu-button.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End of modal menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of main header -->


</div>